Project Report/Resources/342-3423432_led-rgb-alto-brilho-led-de-alto-brilho.png
Project Report/Resources/500px-KS0266(1).jpg
Project Report/Resources/100102Z.pdf
Project Report/Resources/20240601_122705.jpg
Project Report/Resources/20240601_145905.jpg
Project Report/Resources/20240601_150008.jpg
Project Report/Resources/20240601_150210.jpg
Project Report/Resources/AC-Phase-Angle-Control-Circuit-Board.jpg
Project Report/Resources/Ac712.png
Project Report/Resources/Architecture.png
Project Report/Resources/configuration.png
Project Report/Resources/control module 1.ai
Project Report/Resources/control module 1.png
Project Report/Resources/control module 2.ai
Project Report/Resources/control module 2.png
Project Report/Resources/control module 3.ai
Project Report/Resources/control module 3.png
Project Report/Resources/dev_kit.jpg
Project Report/Resources/Factors-Influencing-the-Adoption-of-Smart-Building-and-Service-Preferences-in-Sri-Lanka.pdf
Project Report/Resources/ld2450back.jpg
Project Report/Resources/ld2450front.jpg
Project Report/Resources/sensor_module.png
Project Report/Resources/shp-1010_orig.jpg
Project Report/Resources/SmartHomeAutomationALiteratureReview.pdf
Project Report/Resources/SSRN-id3645458.pdf
Project Report/Resources/SSRN-id4107742.pdf
Project Report/Resources/TPX00170_02.extra_600x600.jpg
Project Report/Resources/tsl2561back.jpg
Project Report/Resources/tsl2561front.jpg
Resources/CH341SER.ZIP
Resources/ESP32_GENERIC-20240222-v1.22.2.bin
Resources/esp32-wroom-32d_esp32-wroom-32u_datasheet_en.pdf
